*.log
wp-config.php
#.htaccess
/readme.html
/license.txt
.DS_Store
.idea
*.iml
wp-content/themes/simon-theme/style.css.map
wp-content/themes/simon-themes/maps
wp-content/themes/simon-theme/css/.sass-cache
